/***** Custom CSS *****/
body
{
 background-color:#232323 !important;
 font-size:13px;
 font-family:arial;
 color:#41250D;
}
#page,#sidebar-first,#sidebar-second
{
    background-color:#FFFFFF;
}
#socialbar {
    height:60px;
}
ul.social {
    float: right;
    list-style: none outside none;
   margin-right: 20px;
    margin-top: 15px;
}
ul.social li {
    float: left;
    margin-left: 10px;
}
.clear
{
    clear:both;
}
.left,.column-block-wrapper
{
    float:left;
}
.right
{
    float:right;
}
/***********Css for Header part*******/
#header
{
    padding-bottom:40px;
}
#logo
{
    float:left;
    margin-top:30px;
}
#primary
{
    background-color:#A18965;
    padding:7px;
}
#primary li a
{
   color: #FFFFFF;
   font-family: georgia;
   font-size: 12px;
   font-weight: bold;
   padding: 0 6px;
}
#secondary,.front .title,#first-time
{
    display:none;
}
.region-content .block-even img
{
  padding: 5px;
  width: 78px;  
}
/***************Css for sidebar first*****************/
#sidebar-first{
    padding-left:6px;
}

.sidebar .block-title
{
    background-image:url('../images/bg.png');
    background-repeat:repeat-x;
    font-size:13px;
    text-align:left;
    padding: 7px 4px;
    font-weight:bold;
}
.block-block,.block-user
{
    border:solid 1px #DAD8D9;
    margin:10px 0 10px 0;
}
#user-login-form
{
    margin-left:3px;
}
.form-text
{
    width:88px
}
#main li
{
    list-style-image:url('../images/green-bullet.jpg');
    margin-left:21px;
    color:#F66E00;
    font-family: arial;
    font-size: 11px;
}
#block-user-new li
{
    list-style-image:url('../images/new-bullet.jpg'); 
}
a:link, a:visited 
{
  color:#F66E00;
  text-decoration:none;
}
.region-content .content li
{
    list-style-type:none;
}
/********Css for Content******/
#contentimg
{
    height: 154px;
    margin-top: 9px;
    width:100%;
    clear:both;
}
#content-header{
    background-image:url('../images/repeater.jpg');
    background-repeat: repeat-x;
    border:solid 1px #DAD8D9;
    margin-top: 7px;
}
#bottom-columns .block-block,#bottom-columns .block{
    border:none;
}
#bottom-columns .content span{
  color:#000000;
}
.column-block-wrapper .block-title{
    margin-bottom:5px;
    color:#777777;
    margin-top: 10px;
    font-size:13px;
    font-weight:bold;
    font-family:arial;
    margin-left:5px;
    background-image:url('../images/bullet.jpg');
    background-repeat:no-repeat;
    padding-left: 22px;
}
#content-area .block-block
{
    background-image:url('../images/repeater.jpg');
    float:left;
    background-repeat: repeat-x;
}
#content-area .block-title
{
    color: #3C1F0F;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    background-image:url('../images/bullet.jpg');
    background-repeat:no-repeat;
    padding-left: 21px;
    margin: 7px;
}
#content-img
{
    width:100%;
    margin-top:10px;
}
#content-header .title
{
    margin:0;
    padding:0px;
    font-family:arial;
    font-size:13px;
    color:#E17D25;
}
.region-content .content,#sidebar-second .block-block .content
{
    margin-left:10px;
}

.region-content .content ul
{
 margin: 2px; 
}
#content-area .content li{
    margin-right:35px;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
    #content-area .content li{margin-right:52px;}
}
/*************Css For Second side bar*****************/
.region-sidebar-second .content p{
    float:left;
    width:70px;
    color:#000000;
    margin-right:4px;
}
.region-sidebar-second .content span{
    color:#EE7C35;
}
/*.region-sidebar-second .content img{
    border:2px solid #DEDEDE;
}*/
.two-sidebars #sidebar-second:last-child {
    margin-right: 0;
    padding-right:6px;
/*******Css for Page Layout*******/
#sidebar-first
{
  margin-right: 0;
  margin-left: -76.56%;
  padding-left: 5px;
}
#sidebar-second{padding-right:10px;}

